
<!DOCTYPE html>
<html>
  <head>
    <title>Top Users</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <header>
    <%- include("templates/header.ejs"); %>
  </header>
  <body>
    <h1>Here Are The Current Top 10 Users</h1>
    <h2>Post and comment on photos to increase your rank!</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <% if(data.length){ for(var i = 0; i< data.length; i++) {%>
          <tr>
            <td><%= data[i].firstName +' ' + data[i].lastName%></td>
            <td><%= data[i].contributionScore%></td>
            
          </tr>
          <% } }else{ %>
          <tr>
            <td>No data ever existed.</td>
          </tr>
          <% } %>
      </tbody>
    </table> 
  </body>
</html>